.btn-primary {
  background:#4AA02C ;
 
}
.jumbotron {
  background:#157DEC;
  color:white;
}
.{color:green;}

.cdv{
  margin-left:150px;
  margin-bottom: 30px;
  margin-top:50px;
}
.nadpis3{color:green;}
.video{float: none;
    margin: 0 auto;}