.btn-primary {
  background:#4AA02C ;
 
}
.jumbotron {
  background:#157DEC;
  color:white;
}
.{color:green;}

.cdv{
 position: absolute;
  margin-bottom: 30px;
  margin-top:50px;
  height: 82%;
  width: 82%;
  
}
.nadpis3{color:green;}
.video{float: none;
    margin: 0 auto;}
.footer{
	position: absolute;
	bottom: -50%;
}